<!-- start footer -->
<footer>
  <div class="container clearfix">
    <div class="col-lg-12">
      <span class="alignleft small">© <span id="current-year"></span>, SensResidency. All Rights Reserved.</span>
      <span class="alignright small">Developed
        <i class="fa fa-heart"></i>
        by
        <a
          href="http://www.weibergmedia.com"
          data-title="Premium HTML5 Website Templates"
        >Tapclone</a>.
      </span>
    </div>
  </div>
</footer>
<!-- end footer -->

<script>
  let year = document.getElementById('current-year')
  const currentDate = new Date();
  const currentYear = currentDate.getFullYear();
  year.innerHTML = currentYear
</script>