<!-- preloader -->
<div id="preloader">
  <div id="status">
    <div class="parent">
      <div class="child">
        <p class="small">loading</p>
      </div>
    </div>
  </div>
</div>
<!-- end preloader -->

<!-- start full-page intro -->
<section class="parallax parallax1" id="section1">
  <div class="swiper-container  " >
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <img src="/user-assets/home_slider_images/Exercise.jpg" style="width: 100%;" alt="Slide 1">
          <div class="slide-content" >
          <h3 class="slide-description" style="color:white;
          text-shadow: 4px 0px 5px rgba(0,0,0,0.6);
          ">Welcome To Sens Residency</h3>
            <h2 class="slide-title" style="color:white;
            text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
            " 
            >Rooms That Are Nothing Less Than Home.</h2>
          </div>
        </div>

        <div class="swiper-slide">
          <img src="/user-assets/home_slider_images/gaston.webp" style="width: 100%;" alt="Slide 1">
          <div class="slide-content" >
          <h3 class="slide-description" style="color:white;
          text-shadow: 4px 0px 5px rgba(0,0,0,0.6);
          ">Welcome To Sens Residency</h3>
            <h2 class="slide-title" style="color:white;
            text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
            " 
            >A Stay That Feels Like Home.</h2>
          </div>
        </div>

       <div class="swiper-button-next"></div>
       <div class="swiper-button-prev"></div>
      </div>
    </div>


    
</section>



<!-- start full-page intro -->


{{!-- 
<section class="bg-image-3 with-bg parallax parallax1 section" id="section1">
  <div class="overlay">
    <div class="parent">
      <div class="child">
        
        <h1>Sens
          
          Residency
        </h1>
        <p class="large">Experience nature in its purest form, while enjoying
          attention to detail, indulgent pampering and exceptional cuisine.</p>
      </div>
    </div>
  </div>
  <a href="#section2" data-title="" id="arrow-down" class="aligncenter">Get
    started</a>
</section> --}}

<!-- end full-page intro -->
<!-- start header -->
<header class="clearfix">
  <div id="logo">
     <a href="#"></a> 
     </div>
  <div class="tagline"><span>Sens Residency
      {{! &amp; Resort }}
    </span></div>
  <div id="nav-button">
    <span class="nav-bar"></span>
    <span class="nav-bar"></span>
    <span class="nav-bar"></span>
  </div>
  <nav>
    <ul id="nav">
      <li class="active"><a href="#section1">Home</a> </li>
      <li><a href="#section2">Rooms</a> </li>
      <li><a href="#section5">Tarrifs</a> </li>
      <li><a href="#section7">Gallery</a> </li>
      <li><a href="#section4">Facilities</a></li>
      <li><a href="#">Tourist Spots</a></li>
      <li><a href="#section3">Reservation</a> </li>
      <li><a href="#section6">Contact</a> </li>
      <li><a href="/blog"><i class="fa fa-external-link"></i> Blog</a>
      </li>
    </ul>
  </nav>
</header>
<!-- end header -->

<section class="section white-bg">
  <div class="container clearfix">
    <div class="nautical-4"></div>

<div class="row">
    <div class="col-lg-6 col-md-6  centered header-wrapper " style="padding: 3rem 0 0 1rem; margin-bottom:0">
      <div class="margin-wrapper">
        <img src="/user-assets/other_images/sensresidency_banner2.webp" alt="sensresidency">
          <div class="covering-image centered">
          </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6  centered header-wrapper " style="text-align: start; padding: 1rem 0 0 3rem; margin-bottom: 0;">
      <h2>WELCOME TO <br><span style="color:#D5DB23">SENS</span><span style="color:#ED1C22">RESIDENCY</span> </h2>
      <p class="large">Situated in the heart of Pariyaram in Chalakudy, Sens Residency welcomes you featuring a  harmonious union of sophistication and warm hospitality. The suites here offer sheer luxury with stylishly appointed separate bedroom and living areas providing ample space and guaranteed privacy 
 .</p>
    </div>
  </div>

  <div class="row" style="margin-top: 1.5rem;">
    <div class="col-lg-6 col-md-6 col-sm-12 order-sm-2  centered header-wrapper " style="text-align: start; padding: 1rem 0 0 3rem; margin-bottom: 0;">
      <h3>DELIGHTFUL DINING SPACES</h3>
      <p class="large">Celebrating the local cuisine and flavours from across the world around, at Hotel Sens Residency presents an exquisite dining space at its Restaurant. Lip-smacking delicacies of your liking will be served here as per your wish. Treat your appetite while enjoying the beauty of verdant nature around.</p>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 order-sm-1  centered header-wrapper " style="padding: 3rem 0 0 1rem; margin-bottom:0">
      <div class="margin-wrapper">
        <img src="/user-assets/other_images/dining.webp" alt="sensresidency">
          <div class="covering-image centered">
          </div>
        </div>
    </div>
  </div>

  <div class="row" style="margin-top: 1.5rem;">
    <div class="col-lg-6 col-md-6  centered header-wrapper " style="padding: 3rem 0 0 1rem; margin-bottom:0">
      <div class="margin-wrapper">
        <img src="/user-assets/other_images/meeting-room.webp" alt="sensresidency">
          <div class="covering-image centered">
          </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6  centered header-wrapper " style="text-align: start; padding: 1rem 0 0 3rem; margin-bottom: 0;">
      <h3>Board Room</h3>
      <p class="large">Our private and fully equipped meeting facilities and boardrooms offer high class stylish business environments which cater to all your business needs. Meet your partners or hold your business gatherings in the comfort of our corporate business rooms. Our hotel team will gladly assist in providing you with the technical equipment you need for the meeting room facility of your choice</p>
    </div>
  </div>

  <div class="row" style="margin-top: 1.5rem;">

        <div class="col-lg-6 col-md-6  centered header-wrapper " style="text-align: start; padding: 1rem 0 0 3rem; margin-bottom: 0;">
              <h3>Scenic Experience Awaits</h3>
                      <p class="large">Hotel Sens Residency has close proximity to a large number of near by tourist attractions like Athirapilly Waterfalls, Vazhachal Water falls, Ezhattumugham, Malakkapara, Sholayar Dam, Malayattoor Church and many more...
                The water theme parks like Silver Storm, Dream Land and Snow Storm are very close. On a stay at Sens Residency, guest may plan short trips. Our travel desk arranges suitable trip to all these destinations upon guest request.</p>
            </div>

    <div class="col-lg-6 col-md-6  centered header-wrapper " style="padding: 3rem 0 0 1rem; margin-bottom:0">
      <div class="margin-wrapper">
        <img src="/user-assets/tourist_spot_images/athirapilly-waterfall.webp" alt="sensresidency">
          <div class="covering-image centered">
          </div>
        </div>
    </div>

  </div>
</div>

</section>

<!-- start main content -->
<section class="section white-bg" id="section2">
  <div id="ancor2"></div>
  <!-- start ajax -->
  <div id="ajax-anchor"></div>
  <div class="ajax-content" id="ajax-content"></div>
  <div id="loading">
    <p>loading</p>
  </div>
  <!-- end ajax -->
  <div class="container clearfix">
    <div class="nautical-1"></div>
    <div class="col-lg-12 centered header-wrapper">
      <h2>Our Rooms</h2>
      <p class="large">Comfort and elegance come together to offer our guests a
        stay, that is highlighted by disconnecting in a wonderful environment
        with attention to detail.</p>
    </div>
    
    {{#each images}}
    <div class="col-lg-6 col-md-6 with-bg">
      <div class="margin-wrapper">
        {{#if occupied}}
          <img alt="" src="/user-assets/uploaded_images/{{fileName}}.webp" />
          {{else}} 
          <img alt="" src="/user-assets/uploaded_images/no-image.webp" />
        {{/if}}
          <div class="covering-image centered">
          </div>
        </div>
    </div>
    {{/each }}

    {{!-- <div class="col-lg-6 col-md-6 with-bg">
      <div class="margin-wrapper">
          <img alt="" src="/user-assets/uploaded_images/31.jpg" />
          <div class="covering-image centered">
          </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 with-bg">
      <div class="margin-wrapper">
          <img alt="" src="/user-assets/uploaded_images/18.JPG" />
        </div>
    </div>

    <div class="col-lg-6 col-md-6 with-bg">
      <div class="margin-wrapper">
          <img alt="" src="/user-assets/uploaded_images/06.jpg" />
        </div>
    </div>

    <div class="col-lg-6 col-md-6 with-bg">
      <div class="margin-wrapper">
          <img alt="" src="/user-assets/uploaded_images/08.JPG" />
        </div>
    </div> --}}
    
  </div>
</section>


<section class="section" id="section5">
  <div id="ancor5"></div>
  <div class="container clearfix">
    <div class="nautical-5"></div>
    <div class="col-lg-12 centered header-wrapper">
      <h2>Tarrifs</h2>
      <p class="large">Get your favorite deals and save big on your next dream
        vacation.</p>
    </div>

    <div class="col-lg-6 col-md-6">
      <img alt="" src="/user-assets/other_images/suite-room.webp" />
      <figure class="price-table highlighted">
        <div class="heading">
          <h4>Suite</h4>
        </div>
        <p class="price">Rate: <span>&#8377;</span>3500 + Taxes</p>
      </figure>
    </div>
    <div class="col-lg-6 col-md-6">
      <img alt="" src="/user-assets/other_images/deluxe-room.webp" />
      <figure class="price-table highlighted">
        <div class="heading">
          <h4>Deluxe</h4>
        </div>
        <p class="price">Rate: <span>&#8377;</span>3000 + Taxes</p>
      </figure>
    </div>
    <div class="col-lg-6 col-md-6">
      <img alt="" src="/user-assets/other_images/standard-room.webp" />
      <figure class="price-table highlighted">
        <div class="heading">
          <h4>Standard</h4>
        </div>
        <p class="price">Rate: <span>&#8377;</span>2500 + Taxes</p>
      </figure>
    </div>
    <div class="col-lg-6 col-md-6">
      <img alt="" src="/user-assets/other_images/extra-bed.webp" />
      <figure class="price-table highlighted">
        <div class="heading">
          <h4>Extra Bed</h4>
        </div>
        <p class="price">Rate: <span>&#8377;</span>750 + Taxes</p>
      </figure>
    </div>

  </div>
</section>


    <section class="section white-bg" id="section7">
      <div class="container clearfix ">
      <div class="nautical-6"></div>
        <div class="col-lg-12 centered header-wrapper">
          <h2>Gallery </h2>
          <p class="large">A feast for the senses: Experience the art of indulgence at SensResidency..</p>
        </div>

        <div class="containerW testBorder">

        </div>
      </div>
    </section>


{{!-- <section class="section with-bg bg-image-1 parallax parallax2">
  <div class="overlay"></div>
  <div class="container clearfix centered">
    <div class="col-lg-12 centered">
      <h2>Testimonials</h2>
    </div>
    <div class="col-lg-6 aligncenter">
      <div class="flexslider testimonials">
        <ul class="slides">
          <li>
            <blockquote class="clearfix centered">
              <p>By far our best vacation yet! It was so relaxing, we never
                wanted to leave.</p>
              <p class="small">Steve Jacobs, Canada</p>
            </blockquote>
          </li>
          <li>
            <blockquote class="clearfix centered">
              <p>
                What can we say?! We were just blown away by the attention to
                detail and the flawless service.</p>
              <p class="small">Hannah Stroj, Sweden</p>
            </blockquote>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section> --}}
<section class="section white-bg" id="section4">
  <div id="ancor4"></div>
  <div class="container clearfix">
    <div class="nautical-3"></div>
    <div class="col-lg-12 centered header-wrapper">
        <h2>Sens Residency 
          {{!-- <span class="italic">Grand</span> Hotel --}}
          </h2>
      {{!-- <p class="large">We have been a family business since 1982, striving
        relentlessly for unparalled customer satisfaction.</p> --}}
    </div>
  </div>
  <div class="container clearfix">
    <div id="container">
      
      <div class="col-lg-4 col-md-6 col-sm-6 element home">
        <div class="border-wrapper">
          <div class="icons food-dome-serving" style="margin-left:1.5rem"></div>
          <h4>Facilities &amp; Amenities</h4>
          <p >&#x2022;&nbsp;24 Hours Hot Water</p>
          <p >&#x2022;&nbsp;Internet Facility</p>
          <p >&#x2022;&nbsp;Valvet Parking</p>
          <p >&#x2022;&nbsp;Tea, Coffee Maker</p>
          <p >&#x2022;&nbsp;Left Luggage Room</p>
          <p >&#x2022;&nbsp;Travel Desk  </p>
          <p >&#x2022;&nbsp;Newspapers  </p>
          <p >&#x2022;&nbsp;Mini Fridge  </p>
          <p >&#x2022;&nbsp;Restaurant  </p>
          <p >&#x2022;&nbsp;Guest Lodging With Us Can Avail <br>&nbsp; Breakfast <span style="font-size: 1.2rem;">( On Request )</span>  </p>
          <p >&#x2022;&nbsp;Wake up Call <span style="font-size: 1.2rem;">( On Request )</span>  </p>
          <p >&#x2022;&nbsp; Wheel Chair <span style="font-size: 1.2rem;">( On Request )</span>  </p>
        </div>
      </div>
      
<div class="col-lg-5 col-md-6  col-sm-6 element home">
        <div class="margin-wrapper"><img
            alt=""
            src="/user-assets/uploaded_images/sensresidency_banner2.webp"
          /></div>
      </div>
      
      <div class="col-lg-3 col-md-6 col-sm-6 element home">
        <div class="border-wrapper request-">
          <div class="icons beach" style="margin-left:1.5rem;"></div>
          <h4 style="line-height: 1.5;">Complimentary Facilities On Request </h4>
          <p>&#x2022;&nbsp;Pressing Iron and Iron Board</p>
          <p>&#x2022;&nbsp;Left luggage Room</p>
          <p >&#x2022;&nbsp;Safe Deposit Locker </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 element home">
        <div class="border-wrapper">
          <div class="icons snorkel-mask" style="margin-left:1.5rem"></div>
          <h4>Free Room Amenities</h4>
          <p>&#x2022;&nbsp;Shaving Kit</p>
          <p>&#x2022;&nbsp;Dental Kit</p>
          <p>&#x2022;&nbsp;Shower Cap</p>
          <p>&#x2022;&nbsp;Moisturizer</p>
          <p>&#x2022;&nbsp;Sewing Kit</p>
          <p>&#x2022;&nbsp;Shampoo</p>
          <p>&#x2022;&nbsp;Slippers</p>
          <p>&#x2022;&nbsp;Pen  &amp; Pencil</p>
          <p>&#x2022;&nbsp;Bottled Drinking Water </br><span style="font-size: 0.98rem;">&nbsp;&nbsp;&nbsp;[ 500ml ] 2nos</span></p>
        </div>
      </div>
      {{!-- <div class="col-lg-3 col-md-6 col-sm-6 element home">
        <div class="border-wrapper">
          <div class="icons dumbell"></div>
          <h4>Fully Equipped Gym</h4>
          <p>This is consequat luctus at justo auctor metus est donec. Tempus
            terminal morbi nulla donec.</p>
        </div>
      </div> --}}
      {{!-- <div class="col-lg-3 col-md-6 col-sm-6 element home">
        <div class="border-wrapper">
          <div class="icons hat-chef"></div>
          <h4>2 Michelin Stars Cooking</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
        </div>
      </div> --}}

      
      <div class="col-lg-3 col-md-6 col-sm-6 element home">
        <div class="border-wrapper">
          <div class="icons safe-2" style="margin-left:1.5rem"></div>
          <h4>On Chargeable Basis</h4>
          <p>&#x2022;&nbsp;Laundry/ Dry Cleaning Service</p>
          <p>&#x2022;&nbsp;Car Rental</p>
          <p>&#x2022;&nbsp;Car Wash</p>
          <p>&#x2022;&nbsp;Board Room</p>
          <p>&#x2022;&nbsp;Money Exchange</p>
          <p >&#x2022;&nbsp;Room Service – 24 Hours  </p>
          <p>&#x2022;&nbsp;Local Sight Seeing</p>
          <p>&#x2022;&nbsp;Doctor on Call</p>
          <p>&#x2022;&nbsp;Fax/ Photo Copy/ Print Outs</p>
          <p>&#x2022;&nbsp;Telephone - <span style="font-size: 0.98rem;">Local/ STD/ ISD Calls</span> </p>
        </div>
      </div>
    </div>
  </div>
</section>
  {{!-- <section class="section">
    <div class="container clearfix">
      <div class="nautical-4"></div>
      <div class="col-lg-12 centered logo-wrapper">
        <h4>Travellers' Choice 2013-2016</h4>
        <p><i>Awards</i></p>
        <div class="tripadvisor"></div>
      </div>
    </div>
  </section> --}}
{{!-- <section class="section with-bg bg-image-2 parallax parallax3">
  <div class="overlay"></div>
  <div class="container clearfix centered">
    <div class="col-lg-12 centered">
      <p class="small above-h2">Video Tour</p>
    </div>
    <div class="col-lg-6 aligncenter centered">
      <h2>Exceptional Food
        <span class="italic">from</span>
        Sirloin to Lobster</h2>
      <a
        href="#"
        data-title="My YouTube Video"
        data-fancybox-group="group1"
        class="video-popup round-button"
      ><i class="fa fa-play"></i></a>
    </div>
  </div>
</section> --}}



<section class="section" id="section3">
  <div id="ancor3"></div>
  <div class="container clearfix">
    <div class="nautical-2"></div>
    <div class="col-lg-12 centered header-wrapper no-plarge">
      <h2>Room Reservation</h2>
    </div>
  </div>
  <!-- start reservation form -->
  <div class="container clearfix" id="sandbox-container">
    <form
      {{!-- method="post" --}}
      {{!-- action="/reservation-form" --}}
      name="reservation"
      id="reservation"
      autocomplete="off"
      {{!-- class="form" --}}
    >
      <fieldset>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <label>Full Name</label>
          <input type="text" name="Name" id="name" />
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <label>Email Address</label>
          <input type="text" name="Email" id="email" />
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <label>Phone</label>
          <input type="text" name="Phone" id="phone" />
        </div>
        {{!-- <div class="col-lg-3 col-md-6 col-sm-6">
          <label>Room</label>
          <div class="selector">
            <select id="room">
              <option value="Double Deluxe" selected>Double Deluxe</option>
              <option value="Ocean View Suites">Sea View Suites</option>
            </select>
          </div>
        </div> --}}
        <div class="col-lg-6">
          <div class="input-daterange input-group" id="datepicker">
            <label>Arrival Date</label>
            <input type="text" name="start" id="start" />
            <span class="input-group-addon">to</span>
            <label>Departure Date</label>
            <input type="text" name="end" id="end" />
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
          <label>Adults</label>
          <div class="selector">
            <select id="adults">
              <option value="1" selected>1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="3">4</option>
            </select>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
          <label>Children</label>
          <div class="selector">
            <select id="children">
              <option value="0" selected>0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="2">3</option>
            </select>
          </div>
        </div>
        <div class="col-lg-2 centered">
          <div class="button full-width">
            <input type="submit" class="submit" id="submit" value="Submit" />
          </div>
        </div>
        <div class="col-lg-12 centered">
          <div class="message-holder "><span id="message" style=" font-style:italic"></span></div>
        </div>
      </fieldset>
    </form>
  </div>
  <!-- end reservation form -->
</section> 

<section class="section white-bg" id="section6">
  <div id="ancor6"></div>
  <div class="container clearfix">
    <div class="nautical-6"></div>
    <div class="col-lg-12 centered header-wrapper">
      <h2>Contact Us</h2>
      <p class="large">If you have any questions, feedback or would like to book
        a trip, please contact us. We'll get back to you asap!</p>
    </div>
    <div class="col-lg-3 col-md-3 centered contact-wrapper">
      <div class="icons map-pin-1"></div>
      <p class="small">Address</p>
      {{!--   --}}
      <p>Sens Residency, <br />
        Kuttichira Road, Mothirakanny<br />
        Chalakudy, Thrissur- 680724<br />
        </p>
    </div>
    <div class="col-lg-3 col-md-3 centered contact-wrapper">
      <div class="icons fax-machine"></div>
      <p class="small">Phone</p>
      <p>62354 62353<br />
        0480 2082378</p>
    </div>
    <div class="col-lg-3 col-md-3 centered contact-wrapper">
      <div class="icons email-2"></div>
      <p class="small">Email</p>
      <p><a
          href="mailto:sensresidency@gmail.com"
          title=""
        >sensresidency@gmail.com</a></p>
    </div>
    <div class="col-lg-3 col-md-3 centered contact-wrapper">
      <div class="icons network"></div>
      <p class="small">Social</p>
      <p>Connect with Us:</p>
      <ul class="social-list clearfix">
        <li> <a href="#"><i class="fa fa-instagram"></i></a> </li>
        <li> <a href="#"><i class="fa fa-facebook"></i></a> </li>
        <li> <a href="#"><i class="fa fa-twitter"></i></a> </li>
        {{!-- <li> <a href="#"><i class="fa fa-vimeo"></i></a> </li> --}}
      </ul>
    </div>
  </div>
</section>
<section id="map-section">
  <div id="map">
    <iframe style="width: 100%; height:100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3925.171252380469!2d76.4144243!3d10.328176299999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba7ff401860af1d%3A0x72d2f8ca286c38c7!2sSENS%20Residency!5e0!3m2!1sen!2sin!4v1685257787238!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  {{!-- <div id="logo-white"></div> --}}
  <div class="overlay contact-map-overlay"></div>
</section>
<!-- end main content -->